 <div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @bracelets.each do |bracelet| %>
      <div class = "card">
         <div class ="name"><%= bracelet.name %></div>
         <div class = "description"><%= bracelet.description%></div>
         <img src=<% if bracelet.picture.blank? %>
                    <%= "https://png.pngtree.com/svg/20170217/8553c4769c.png" %>
                  <% else %>
                    <%= bracelet.picture %>
                  <% end %>>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
    <%= link_to "Page principale", products_path  %>
  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->
