 <div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @necklaces.each do |necklace| %>
      <div class = "card">
         <div class ="name"><%= necklace.name %></div>
         <div class = "description"><%= necklace.description%></div>
         <div class ="photo"><%= cl_image_tag necklace.photo %></div>
         <img src=<% if necklace.picture.blank? %>
                    <%= "https://png.pngtree.com/svg/20170217/8553c4769c.png" %>
                  <% else %>
                    <%= necklace.picture %>
                  <% end %>>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
        <%= link_to "Page principale", products_path  %>

  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->

