<div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @products.each do |product| %>
      <div class = "card">
         <div class ="name"><%= product.name %></div>
         <div class = "description"><%= product.description%></div>
         <%= cl_image_tag product.photo %>

      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
    <%= link_to "Bagues", rings_path %>
    <%= link_to "Boucles", earings_path %>
    <%= link_to "Bracelets", bracelets_path %>
    <%= link_to "Colliers", necklaces_path %>
  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->
