 <div class = "wrapper">
  <div class = "container">
    <div class = "cards">
     <% @rings.each do |ring| %>
      <div class = "card">
         <div class ="name"><%= ring.name %></div>
         <div class = "description"><%= ring.description%></div>
         <img src=<% if ring.picture.blank? %>
                    <%= "https://png.pngtree.com/svg/20170217/8553c4769c.png" %>
                  <% else %>
                    <%= ring.picture %>
                  <% end %>>
      </div> <!-- end card -->
    <% end %>
    </div> <!-- end cards -->
        <%= link_to "Page principale", products_path  %>

  </div> <!-- end contaienr -->
</div> <!-- end wrapper -->
